# -----------------------------
# Dataset folders (ignore all files inside)
# -----------------------------
Lab_3/data/train/cats/*.jpg
Lab_3/data/train/dogs/*.jpg
Lab_3/cats_dogs_10/images/*.jpg

# -----------------------------
# Ignore ALL image files (JPG, PNG, JPEG)
# -----------------------------
*.jpg
*.jpeg
*.png

# -----------------------------
# Ignore ZIP files
# -----------------------------
*.zip
Lecture_Notes_DL/*.zip

# -----------------------------
# Optional — ignore temp/cache files
# -----------------------------
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

# virtual environment files
DL_LAB_env/**

# -----------------------------
# Python version specific files
# -----------------------------
.python-version

.DS_Store
